$assistant: "Assistant", sans-serif;
$playfair: "Playfair Display", sans-serif;

$regular: 400;
$semibold: 600;
$bold: 700;

$txt-primary: #000;

$body-bg: #fff;

body {
  font-family: $assistant;
  font-size: 1.25em;
  font-weight: $regular;
  color: $txt-primary;
  background: $body-bg;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
}

/**
* NAVIGATION
*/
nav {
  float: right;
  margin-top: 50px;
  margin-bottom: 100px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 1px;
}

nav ul li a {
  padding: 4px 20px;
  text-decoration: none;
  line-height: 1em;
  color: $txt-primary;
}

nav li a:hover,
nav li a:focus,
nav li a:active {
  text-decoration: underline;
}

/**
* LANDING
*/
.landing {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 50px;
}

h1 {
  font-family: $playfair;
  font-size: 6.65em;
  font-weight: $bold;
  margin-right: 100px;
  position: relative;
  top: -350px;
}

img {
  width: 900px;
  height: auto;
  position: relative;
  top: 50px;
}

/**
* PROFIL
*/
#profil {
  max-width: 30em;
}

/**
* BACK TO TOP BUTTON
*/
#top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 1px solid $txt-primary;
  outline: none;
  background-color: $body-bg;
  color: $txt-primary;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#top-button:hover {
  background-color: darken($color: $body-bg, $amount: 10);
}
